.notread {
    background-color: rgba(255, 0, 0, 0.527);
  }
  .read {
    background-color: rgb(0, 26, 255);
  }
  .reading {
    background-color: rgb(0, 190, 32);
  }
  .onhold {
    background-color: rgb(238, 255, 0);
  }
  .dropped {
    background-color: rgba(255, 0, 0, 0.795);
  }