@font-face {
  font-family: "Poppins-Light";
  src: url(../components/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(../components/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(../components/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../components/fonts/Poppins-SemiBold.ttf);
}
