
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    pointer-events: none;
  }
  
  #overlay.active {
    pointer-events: all;
    opacity: 1;
    transition: 200ms ease-in-out;
  }